body{
  margin: 0;
  padding: 0;
}
.header{
  width: 100%;
  height: 52px;
  background-image:linear-gradient(to right, #0f1954, #8591da);
  position: fixed;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  display: block;
  z-index: 1;
}
nav{
  display: inline;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float:right;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:20px;
}
nav a:hover {
  background-color: #0f395a;
}
nav a.active{
  display:block;
  background-color:rgb(255, 255, 255,.5 );
}
h1{
  color:white;
  font-style: italic;
  display: inline;
  font-size:40px;
} 
h1 a{
  text-decoration: none;
  color:white;
}
.vertical {
  width:200px;
  display: inline-block;
  position: relative;
  top:50px;
  position: fixed;
}
.vertical a {
  background-color:#0f1954;
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
  padding-bottom: 28px;
} 

.vertical a:hover {
  background-color:  #ccc;
}

.vertical a.active {
  background-color: green;
  color: white;
}
.kids{
  display: inline;
  align-items: center;
  text-align: center;
}
.kids1{
  border:solid 1px black;
  display: inline-block;
  width: 30%;
  align-items: center;
  margin-top:100px;
  text-align: center; 
  position: relative;
  left:110px;
}
.kids1 img{
  width: 350px;
  height: 260px;
  display: inline-block;
  padding-left: 23px;
  padding-top:5px;
}
.kids1 p{
  position: relative;
  font-weight:bold ;
  display: inline;
  padding-left: 20px;
}
.kids2{
  border:solid 1px black;
  display: inline-block;
  width: 30%;
  align-items: center;
  margin-top:100px;
  text-align: center; 
  position: relative;
  left:390px;
}
.kids2 img{
  width: 350px;
  height: 260px;
  display: inline-block;
  padding-left: 23px;
  padding-top:5px;
}
.kids2 p{
  position: relative;
  font-weight:bold ;
  display: inline;
  padding-left: 20px;
}